html {
    font-family: 'helvetica neue', sans-serif;
    font-weight: lighter;
    color: #fffffb;
    height: 100%;
    letter-spacing: 1px;
}

body {
    margin: 0;
    height: 100%;
    background-color: #0f2540;
}

a {
    text-decoration: none;
    color: #fcfaf2;
    font-weight: normal;
    font-family: helvetica;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: .5em 0;
    line-height: 2;
}

ul {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 1em 0;
    font-weight: normal;
    font-size: 150%;
}

h4 {
    margin: .5em 0;
    font-weight: lighter;
    font-size: 120%;
}

header {
    margin: 3em 0;
}

.menu {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: rgba(252, 250, 242, 0.8);
}

.menu ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #1c1c1c;
    padding: 1em;
    display: block;
}

.content {
    height: 100%;
}

.content li {
    line-height: 2;
}

.content li a {
    margin: 2em 0;
}

.content section {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2em 8px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.content li span {
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 80%;
    border-radius: 5px;
}

.web { background-color: #1e88a8; }
.java { background-color: #0f2540; }
.ntu { background-color: #c1328e; }
.ror { background-color: #d0104c; }
.ios { background-color: #81c7d4; }
.y-internal { background-color: #66327c; }
.hackday { background-color: #58b2dc; }
.nodejs { background-color: #78c2c4; }
.startup { background-color: #fad689; }
.game { background-color: #592c63; }
.android { background-color: #516e41; }

#about { background-color: #8f77b5; }

#about p {
    margin: 2em 0;
    line-height: 3;
}

#education { background-color: #b68e55; }

#experience { background-color: #838a2d; }

#skills { background-color: #66bab7; }

#skills li {
    margin: 1em 0;
    font-size: 120%;
    font-weight: normal;
}

#skills span {
    font-size: 60%;
}

#works { background-color: #689881; }

#talks { background-color: #91989f; }

#contact { background-color: #7db9de; }

@media (min-width: 641px) {

    .menu ul {
        width: 90%;
    }

    .content section {
        padding: 2em 10%;
    }
}
